@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
:root {
  --f-stack: "Heebo", sans-serif;
  --clr-primary: hsl(234, 30%, 18%);
  --clr-secondary: hsl(194, 57%, 95%);
  --clr-highlight: hsl(0, 100%, 70%);
  --clr-neutral-200: hsl(220, 61%, 20%);
  --clr-neutral-700: hsl(210, 14%, 58%);
  --clr-neutral-900: hsl(0, 0%, 88%);
  --clr-neutral-1000: hsl(0, 0%, 100%);
  --fs-h1: 2.75rem;
  --fs-h2: 1.375rem;
}
@media (max-width: 50rem) {
  :root {
    --fs-h1: 2rem;
    --fs-h2: 1.125rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: inline-block;
}

.text-center {
  text-align: center;
}

.lh-post {
  line-height: 1.46875rem;
}

.page-title {
  font-size: var(--fs-h1);
  font-weight: 700;
}

.section-title {
  font-weight: 400;
  font-size: var(--fs-h2);
}

.container {
  max-width: 70rem;
  padding-inline: 1.125rem;
  margin: 0 auto;
}

.post-info-separated {
  display: flex;
  align-items: center;
}
.post-info-separated .separator {
  font-size: 1.3125rem;
}

.work-post {
  display: flex;
  gap: 1.125rem;
  align-items: flex-start;
  border-bottom: 1px solid var(--clr-neutral-900);
}
.work-post .work-post-title {
  font-weight: 700;
  font-size: 1.875rem;
}
.work-post .work-post-info {
  display: flex;
  align-items: center;
  gap: 1.625rem;
  margin-block: 1.25rem;
}
.work-post .work-post-info .year {
  font-weight: 900;
  font-size: 1.125rem;
  background-color: var(--clr-neutral-200);
  color: var(--clr-neutral-1000);
  border-radius: 1rem;
  padding: 0.3125rem 0.6875rem;
}
.work-post .work-post-info .category {
  font-size: 1.25rem;
  color: var(--clr-neutral-700);
}

body {
  background-color: white;
  color: var(--clr-primary);
  font-family: var(--f-stack);
}

.navbar {
  display: flex;
  padding: 1.75rem;
}
.navbar .navlist {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.navbar .navlist .nav-item {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0 2rem;
}
.navbar .navlist .nav-item .active {
  color: var(--clr-highlight);
}

.footer {
  margin-top: 2.875rem;
  padding-block: 3.25rem;
}
.footer .sns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.1875rem;
}
.footer .sns-icon {
  font-size: 1.875rem;
}
.footer .copyright {
  font-size: 0.875rem;
  margin-top: 1.5rem;
}

.page-header {
  margin-top: 5.625rem;
}

.hero {
  margin-top: 7.75rem;
  margin-bottom: 4.5rem;
}
.hero-grid {
  display: grid;
  grid-template-columns: 3fr 2fr;
  align-items: start;
  grid-gap: 2.125rem;
}
.hero .intro .lead {
  margin-block: 2rem;
}
.hero .intro .dl-btn {
  display: inline-block;
  font-size: 1.25rem;
  background: var(--clr-highlight);
  color: var(--clr-neutral-1000);
  padding-inline: 1.25rem;
  padding-block: 1rem;
  border-radius: 0.125rem;
  transition: background 0.3s ease;
}
.hero .intro .dl-btn:hover {
  background: var(--clr-primary);
}
.hero .profile-img {
  justify-self: end;
  filter: drop-shadow(0 0.8125rem 0 var(--clr-secondary));
}

.recents {
  background-color: var(--clr-secondary);
  padding-block: 2rem;
}
.recents-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recents-head .more-link {
  color: #00a7cc;
}
.recents-head .more-link:hover {
  text-decoration: underline;
}
.recents .recent-posts {
  margin-top: 1.375rem;
  display: flex;
  gap: 1.25rem;
}
.recents .recent-posts .recent-post {
  background-color: var(--clr-neutral-1000);
  padding: 1.5rem;
}
.recents .recent-posts .recent-post .post-title {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 2.386875rem;
}
.recents .recent-posts .recent-post .post-info-separated {
  font-size: 1.125rem;
  gap: 1rem;
  margin-top: 2rem;
}
.recents .recent-posts .recent-post .post-desc {
  margin-top: 1.5rem;
}

.featured {
  padding-block: 2.25rem;
}
.featured .work-post {
  padding-block: 2rem;
}

.blog {
  margin-bottom: 3.25rem;
}
.blog-post {
  padding-block: 2rem;
  border-bottom: 1px solid var(--clr-neutral-900);
}
.blog-post .post-title {
  font-size: 1.875rem;
  font-weight: 500;
}
.blog-post .post-info-separated {
  font-size: 1.25rem;
  padding-block: 1rem;
  gap: 1.25rem;
}
.blog-post .post-info-separated .categories {
  color: var(--clr-neutral-700);
}/*# sourceMappingURL=main.css.map */