body {
	background-color: hsl(0, 0%, 100%);
	color: var(--clr-primary);
	font-family: var(--f-stack);
}

.navbar {
	display: flex;
	padding: 1.75rem;

	.navlist {
		margin-left: auto;
		display: flex;
		align-items: center;

		.nav-item {
			font-size: 1.25rem;
			font-weight: 500;
			padding: 0 2rem;

			.active {
				color: var(--clr-highlight);
			}
		}
	}
}

.footer {
	margin-top: 2.875rem;
	padding-block: 3.25rem;

	.sns {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 2.1875rem;

		&-icon {
			font-size: 1.875rem;
		}
	}

	.copyright {
		font-size: 0.875rem;
		margin-top: 1.5rem;
	}
}
