// Text Properties
// Text Alignment
.text-center {
	text-align: center;
}

// Line Height
.lh-post {
	line-height: 1.46875rem;
}

// Title Styling
.page-title {
	font-size: var(--fs-h1);
	font-weight: 700;
}

.section-title {
	font-weight: 400;
	font-size: var(--fs-h2);
}

.container {
	max-width: 70rem;
	padding-inline: 1.125rem;
	margin: 0 auto;
}

// Shared Post Styling
.post-info-separated {
	display: flex;
	align-items: center;

	.separator {
		font-size: 1.3125rem;
	}
}

.work-post {
	display: flex;
	gap: 1.125rem;
	align-items: flex-start;
	border-bottom: 1px solid var(--clr-neutral-900);

	.work-post-title {
		font-weight: 700;
		font-size: 1.875rem;
	}

	.work-post-info {
		display: flex;
		align-items: center;
		gap: 1.625rem;
		margin-block: 1.25rem;

		.year {
			font-weight: 900;
			font-size: 1.125rem;
			background-color: var(--clr-neutral-200);
			color: var(--clr-neutral-1000);
			border-radius: 1rem;
			padding: 0.3125rem 0.6875rem;
		}

		.category {
			font-size: 1.25rem;
			color: var(--clr-neutral-700);
		}
	}
}
