.hero {
	&-grid {
		display: grid;
		grid-template-columns: 3fr 2fr;
		align-items: start;
		justify-items: center;
		grid-gap: 2.125rem;
		margin-block: 4.5rem;
	}

	.intro {
		.title {
			font-size: var(--fs-h1);
		}

		.lead {
			margin-block: 2rem;
			line-height: 1.46875;
		}

		.dl-btn {
			display: inline-block;
			font-size: 1.25rem;
			background: var(--clr-highlight);
			color: var(--clr-neutral-1000);
			padding-inline: 1.25rem;
			padding-block: 1rem;
			border-radius: 0.125rem;
		}
	}

	.profile-img {
		filter: drop-shadow(0 0.8125rem 0 var(--clr-secondary));
	}
}
